
body{
    background-color: #EDDDD0;
}
header{
    background-color: #A6CAD4;
}
h1{
    color: black;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.aboutme{
    grid-column: 0;
}
.portrait{
    grid-column: 1/2;
}
.whatIlove{

}


nav {
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: inline-block;
    /* text-align: center; */
    margin-bottom: 0;
}

footer{
    background-color: #A6CAD4 ;
}

.navigation{
    background-color: lightblue;
}
#index_font{
    font-family: Montserrat, sans-serif;
}
