
body{
    background-color: #EDDDD0;
}
header{
    background-color: #A6CAD4;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}

li{
    padding: 5px;
}

h1{
    color: black;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

main.aboutMe{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.aboutme{
    grid-column: 0;
}
.portrait{
    grid-column: 1/2;
}



/* nav {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0;
} */

footer{
    background-color: #A6CAD4 ;
    text-align: center;
    font-weight: bold;
}

#index_font{
    font-family: Montserrat, sans-serif;
}

/* .myCourseList{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
} */

.listBorder{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
}

p.courseOutline{
    grid-row: 2/3;
}

.listBorderBottom{
    border-bottom: black solid 2px;
}

main article ul{
 list-style-type: none;
}

/* main article ul li {
    text-align: right;
} */

@media screen and (min-width: 600px) {
    
}

