
body{
    background-color: #EDDDD0;
    grid-template-columns: 1fr 1fr;
}
header{
    background-color: #A6CAD4;
}
h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

main{

}
nav ul{
    list-style-type: none;
}

footer{
    background-color: #A6CAD4 ;
}

.navigation{
    background-color: lightblue;
    text-align: center;
}
#index_font{
    font-family: Montserrat, sans-serif;
}
